/*Fixed Design starts*/
body {
    font-family:'DM Mono', monospace;
    font-style: normal;
    background-color: #fdfbed;
    margin: 0;
    padding: 0;
}

.nav-links {
    font-size: 300%;
    width: 100%;
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly;
    font-weight: bolder; 
    list-style: none; 
    padding: 0; 
    margin:30px 0px 40px 0px; 
}

.nav-link{
    width: 100%;
    text-align: center;
    /* padding: 40px 0px;  */
    font-size: 80%;
    list-style: none;
    text-decoration: none; 
    color: black; 
    float: center;
} 

a {
    text-decoration:none;
    color: white; 
}
a:hover {
    color: #878787;

}
/*Fixed Design ends*/

.section-title{
   padding: 0px 0px 0px 150px;
   font-size: 500%;
   margin: 67px 0px 47px 0px; 
}

#nav-link-blog {
    color: #878787;
}

.boxes-links {
    text-decoration:none;
    color: black; 
}

img {
    width: 100%; 
    height: 60%; 
    object-fit: cover;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 187px 0px 187px;
    margin: 0px;
    justify-content:space-between;
}

.box {
    height: 36vh; 
    width: 36vh; 
    border-radius: 25px;
    border: 5px solid rgb(8, 8, 8);
    padding: 20px; 
    overflow: hidden;
    margin: 4.6vh; 
}

.box-preview  {
    font-size: 14px;
    margin: 0px 0px 0px 0px; 
    color: #686868;
    height: 48px;
    overflow:hidden;
    text-overflow:ellipsis;
}


.box-title {
    margin: 15px 0px; 
    font-size: 110%;
}

.nothing{
    padding: 0px 0px 0px 150px;
    font-size: 50px;
    margin: 67px 0px 47px 0px; 
    color:#252525;
 }


/* How your site will look on mobile */
@media only screen and (max-width: 768px) {
    .nav-links {
     display: flex;
     flex-direction: column;
     justify-content: center; 
     text-align: center;
     width: auto; 
     font-size: 35px;
     margin: 0; 
    }
    .nav-link{
    width: 100%; 
    padding: 0;
    margin: 0;
    align-items: center;
    }

    /*Fixed Design ends*/

.section-title{
    display: none;
    
 }
 
 #nav-link-blog {
     color: #878787;
 }
 
 .boxes-links {
     text-decoration:none;
     color: black; 
 }
 
 img {
     width: 100%; 
     height: 60%; 
     object-fit: cover;
 }
 
 .container {
     display: flex;
     flex-wrap: wrap;
     padding: 0px; 
     margin: 0px;
     justify-content:center;
 }
 
 .box {
     height: 36vh; 
     width: 36vh; 
     border-radius: 25px;
     border: 5px solid rgb(8, 8, 8);
     padding: 20px; 
     overflow: hidden;
     margin: 4.6vh; 
 }
 
 .box-preview  {
     font-size: 14px;
     margin: 0px 0px 0px 0px; 
     color: #686868;
     height: 48px;
     overflow:hidden;
     text-overflow:ellipsis;
 }
 
 
 .box-title {
     margin: 15px 0px; 
 }

 .nothing{
    padding: 0px 0px 0px 150px;
    font-size: 30px;
    margin: 67px 0px 47px 0px; 
    color:#252525;
    display: block; 
    align-items: center;
 }

  }
  

@media (min-width: 769px) and (max-width: 1200px){
    body {
        font-family:'DM Mono', monospace;
        font-style: normal;
        background-color: #fdfbed;
        margin: 0;
        padding: 0;
    }
    
    .nav-links {
        font-size: 200%;
        width: 100%;
        display: flex; 
        flex-direction: row; 
        justify-content: space-evenly;
        font-weight: bolder; 
        list-style: none; 
        padding: 0; 
        margin:30px 0px 40px 0px; 
    }
    
    .nav-link{
        width: 100%;
        text-align: center;
        /* padding: 40px 0px;  */
        font-size: 80%;
        list-style: none;
        text-decoration: none; 
        color: black; 
        float: center;
    } 
    
    a {
        text-decoration:none;
        color: white; 
    }
    a:hover {
        color: #878787;
    
    }
    /*Fixed Design ends*/
    
    .section-title{
       padding: 0px 0px 0px 150px;
       font-size: 300%;
       margin: 67px 0px 47px 0px; 
    }
    
    #nav-link-blog {
        color: #878787;
    }
    
    .boxes-links {
        text-decoration:none;
        color: black; 
    }
    
    img {
        width: 100%; 
        height: 60%; 
        object-fit: cover;
    }
    
    .container {
        display: flex;
        flex-wrap: wrap;
        padding: 0px 187px 0px 187px;
        margin: 0px;
        justify-content:space-between;
    }
    
    .box {
        height: 36vh; 
        width: 36vh; 
        border-radius: 25px;
        border: 5px solid rgb(8, 8, 8);
        padding: 20px; 
        overflow: hidden;
        margin: 4.6vh; 
    }
    
    .box-preview  {
        font-size: 14px;
        margin: 0px 0px 0px 0px; 
        color: #686868;
        height: 48px;
        overflow:hidden;
        text-overflow:ellipsis;
    }
    
    
    .box-title {
        margin: 15px 0px; 
    }

    .nothing{
        padding: 0px 0px 0px 150px;
        font-size: 50px;
        margin: 67px 0px 47px 0px; 
        color:#252525;
     }
}